Repository adarshalexbalmuchu/NextNode: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run type-check

Favicon new
  favicon_io.zip
Due: none

logo
  android-chrome-192x192.png
  android-chrome-512x512.png
  apple-touch-icon.png
  favicon-16x16.png
  favicon-32x32.png
  favicon.ico
  site.webmanifest
Due: none

new logo
  android-chrome-512x512-Photoroom (1).png
  android-chrome-512x512-Photoroom.png
Due: none

commit
  android-chrome-192x192.png
  favicon_io.zip
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.svg
Due: none

svg
  android-chrome-512x512.svg
Due: none

changes
  android-chrome-512x512-Photoroom.png
  public/android-chrome-512x512-Photoroom (1).png
  public/favicon.svg
Due: none

Refactor code structure for improved readability and maintainability
  public/favicon.svg
Due: none

Replace logo in Header component with an image from favicon.svg for improved branding
  index.html
  public/android-chrome-512x512-Photoroom (1).png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.svg
  src/components/Header.tsx
Due: eslint --fix, prettier --write, npm run type-check

Add files via upload
  favicon.png
  favicon.svg.svg
  p2.png
Due: none

few changes
  index.html
  public/favicon.svg
  public/logo.png
  public/manifest.json
  public/nextnode-logo.png
  public/p2.png
  src/components/Header.tsx
Due: eslint --fix, prettier --write, npm run type-check

New
  favicon.svg
Due: none

Refactor code structure for improved readability and maintainability
  public/NextNode-Logo.svg
  public/logo.png
  public/nextnode-logo.png
  public/p2.png
  src/components/Header.tsx
Due: eslint --fix, prettier --write, npm run type-check

few Changes
  docs/DUPLICATION_CLEANUP.md
  docs/HEADER_NAVIGATION_IMPROVEMENTS.md
  docs/MOBILE_TABLET_COMPATIBILITY.md
  src/components/Header.tsx
  src/index.css
  src/pages/AdminDashboard.tsx
  src/test/Header.responsive.test.tsx
Due: eslint --fix, prettier --write, npm run type-check

Fix CI/CD pipeline issues: resolve test failures, formatting, and build errors
  docs/DUPLICATION_CLEANUP.md
  docs/HEADER_NAVIGATION_IMPROVEMENTS.md
  docs/MOBILE_TABLET_COMPATIBILITY.md
  site.webmanifest
  src/components/Footer.tsx
  src/components/Header.tsx
  src/index.css
  src/pages/About.tsx
  src/pages/AdminDashboard.tsx
  src/pages/Contact.tsx
  src/pages/Newsletter.tsx
  src/pages/Privacy.tsx
  src/pages/Terms.tsx
  src/test/Header.responsive.test.tsx
Due: eslint --fix, prettier --write, npm run type-check

Fix CI/CD issues: remove button gradiation effects, fix touch-friendly classes, resolve formatting and test issues
  src/index.css
Due: prettier --write

Fix CI/CD pipeline: resolve security audit issues by removing lovable-tagger dependency and updating audit configuration to ignore dev-only vulnerabilities
  .github/workflows/ci.yml
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write, npm run type-check

Update GitHub Actions to latest versions: codecov/codecov-action@v4 and actions/upload-artifact@v4
  .github/workflows/ci.yml
Due: none

fix(ci): increase CSS bundle size budget from 60KB to 65KB
  .github/workflows/ci.yml
Due: none

Fix CI/CD pipeline: upgrade to Node.js 20, fix Lighthouse configuration to use correct port (4173), and increase CSS bundle budget to 65KB
  .github/workflows/ci.yml
  lighthouserc.json
Due: prettier --write

Fix CI/CD pipeline: update Node.js to v20, increase CSS bundle budget to 65KB, temporarily disable Lighthouse audit due to headless Chrome issues in CI environment
  .github/workflows/ci.yml
  lighthouserc.json
Due: prettier --write

New Commit
  .env.example
  docs/HEADER_NAVIGATION_IMPROVEMENTS.md
  docs/RESUME_ANALYZER.md
  package-lock.json
  package.json
  public/manifest.json
  site.webmanifest
  src/App.tsx
  src/components/Header.tsx
  src/components/tools/ResumeAnalyzer.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/progress.tsx
  src/pages/AdminDashboard.tsx
  src/pages/CareerTools.tsx
  src/pages/tools/ResumeAnalyzerPage.tsx
  src/services/resumeAnalysisService.ts
  src/test/resumeAnalysisService.test.ts
  src/utils/fileParser.ts
  src/utils/simpleLazyLoading.tsx
  supabase/migrations/20250613_resume_analyses.sql
Due: eslint --fix, prettier --write, npm run type-check

Analyser is ready for Use
  .env.example
  docs/FREE_AI_APIS.md
  docs/FREE_IMPLEMENTATION_COMPLETE.md
  docs/RESUME_ANALYZER.md
  docs/YOUR_DUAL_API_SETUP.md
  package-lock.json
  package.json
  public/pdf.worker.min.mjs
  src/components/tools/ResumeAnalyzer.tsx
  src/services/resumeAnalysisService.ts
  src/test/fileParser.test.ts
  src/test/pdfParsingBrowser.test.ts
  src/test/resumeAnalysisServiceFree.test.ts
  src/utils/fileParser.ts
  vite.config.ts
Due: eslint --fix, prettier --write, npm run type-check

Security Error Fix
  SECURE_SETUP.md
  docs/CRITICAL_ANALYSIS_IMPROVEMENTS.md
  docs/FINAL_STATUS_CHECK.md
  docs/PDF_UPLOAD_FIX.md
  docs/RESUME_ANALYZER.md
  docs/SECURITY_FIX_SUMMARY.md
  public/pdf.worker.min.js
  src/services/resumeAnalysisService.ts
  src/test/pdfParsingBrowser.test.ts
  src/utils/fileParser.ts
Due: eslint --fix, prettier --write, npm run type-check

Fixes
  docs/ANALYSIS_ENHANCEMENT_COMPLETE.md
  docs/ENHANCED_ANALYSIS_V2.md
  docs/ENHANCED_RESUME_ANALYSIS.md
  docs/FINAL_STATUS_CHECK.md
  docs/GITHUB_CODESPACES_CORS_FIX.md
  docs/ISSUES_FIXED_SUMMARY.md
  docs/RESUME_ANALYZER_COMPLETE.md
  docs/SYNTAX_ERROR_FIXED.md
  index.html
  public/api/manifest.js
  public/sw.js
  src/components/tools/ResumeAnalyzer.tsx
  src/services/resumeAnalysisService.ts
  verify-system.sh
  vite.config.ts
Due: eslint --fix, prettier --write, npm run type-check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss})
  npm run type-check: any of: *.{ts,tsx}
